{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted("ROLE_ADMIN") %}
        <small><a href="{{ path('admin') }}">- Vous êtes un administrateur, accéder au backoffice ?</a></small>
        <br/>
    {% endif %}
    <p>Bienvenue {{ app.user.lastName }} {{ app.user.firstName }} dans votre compte.</p>
    <p>C'est dans cette espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
    <br/>
    
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item">
                <img src="{{ asset('assets/img/padlock.png') }}" width="25px" alt="Modifier mon mot de passe" />
                <a href="{{ path('accountPassword') }}"> Modifier mon mot de passe</a>
                <br/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <img src="{{ asset('assets/img/address.png') }}" width="25px" alt="Gérer mes adresses" />
                <a href="{{ path('accountAddress') }}"> Gérer mes adresses</a>
                <br/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <img src="{{ asset('assets/img/order-delivery.png') }}" width="25px" alt="Gérer mes commandes" />
                <a href="{{ path('accountOrder') }}"> Gérer mes commandes</a>
                <br/>
            </div>
        </div>
    </div>
    <hr>
    
    
{% endblock %}
