{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Ma commande</h1>
    
    <a href="{{ path('accountOrder') }}">Retour</a>
    <hr><strong></strong>
    <strong>Commande passée le : </strong>{{ order.createdAt|date('d/m/Y') }}<br/>
    <strong>Référence de ma commande : </strong>{{ order.reference }}<br/>
    <strong>Transporteur choisi : </strong>{{ order.carriername }}
    <hr>
    <strong>Details : </strong>

    <table class="table mt-4 ">
        <thead>
            <tr>
                <th scope="col">Référence</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
            <tr>
                <td>{{ product.product }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ (product.price/100)|number_format(2, ',', '.') }} €</td>
                <td>{{ (product.total/100)|number_format(2, ',', '.') }} €</td>
            <tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <strong>Sous-total : {{ (order.getTotal/100)|number_format(2, ',', '.') }} €</strong><br/>
        <strong>Livraison : {{ (order.carrierprice/100)|number_format(2, ',', '.') }} €</strong><br/>
        <strong>Total : {{ ((order.carrierprice + order.getTotal)/100)|number_format(2, ',', '.') }} €</strong>
    </div>
{% endblock %}
